<section class="slider img-fluid">
  <div class="container">
    <div class="row">
      <div class="">
        <div class="">
          <span class="">{{ .preheading | markdownify }}</span>
          <h1 class="">{{ .heading | markdownify }}</h1>
          <a
            href="{{ .link.url }}"
            class="btn btn-primary"
            aria-label="Get started"
            >{{ .link.text | markdownify }}<i
              class="btn-icon fa fa-angle-right ml-2"
            ></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
