<style>
  #c-nav {
    background-color: {{ .styles.bg_color }};
    min-height: {{ .styles.min_height }}rem;
  }


  #nav__links li a {
    color: {{ .styles.text_color }};
  }

  #nav__logo {
    max-width: {{ .styles.logo_max_width }}rem;
  }
</style>

<nav class="c-nav" id="c-nav">
  <a href="/">
    <img class="nav__logo" id="nav__logo" src="{{ .content.logo }}" />
  </a>
  <ul class="nav__links" id="nav__links">
    {{ range .content.links }}
    <li><a href="{{ .url }}">{{ .name }}</a></li>
    {{ end }}
  </ul>
</nav>
