<style>
  #nav {
    background-color: {{ .styles.bg_color }};
    min-height: {{ .styles.min_height }}rem;
    padding: {{ .styles.padding }}rem;
  }

  #nav__link {
    color: {{ .styles.nav_links.text_color }};
    font-size: {{ .styles.nav_links.text_size }}rem;
    margin-right: {{ .styles.nav_links.margin }}rem;

  }

  #nav__logo {
    max-width: {{ .styles.logo.max_width }}rem;
    margin-left: {{ .styles.logo.margin }}rem;
  }

  @media (max-width: 700px) {
    #menu-button-container {
      right: {{ .styles.hamburger.margin }}rem;
      width: {{ .styles.hamburger.width }}rem;
    }
  }
</style>

<nav class="nav" id="nav">
  <a href="/">
    <img class="nav__logo" id="nav__logo" src="{{ .content.logo_src }}" />
  </a>
  <input id="menu-toggle" type="checkbox" />
  <label
    class="menu-button-container"
    id="menu-button-container"
    for="menu-toggle"
  >
    <div class="menu-button"></div>
  </label>
  <ul class="menu" id="menu">
    {{ range .content.links }}
    <li><a id="nav__link" href="{{ .url }}">{{ .name }}</a></li>
    {{ end }}
  </ul>
</nav>
