.c-color-block-rotating {
  .container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .color-block-text {
    padding: Min(1rem, 2vw) Min(2rem, 8vw);
  }

  .__text {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .__subtext {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }

  .image {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: Min(1rem, 4vw) Min(2rem, 8vw);

    img {
      width: clamp(100px, 20vw, 200px);
      height: auto;
      object-fit: cover;
      animation: rotation 5s infinite linear;
      border-radius: 50%;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
