<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
  crossorigin="anonymous"
/>
{{ $bookshop_scss_files := partial "bookshop_scss" . }} {{ $scss :=
$bookshop_scss_files | resources.Concat "css/bookshop.css" | resources.ToCSS |
resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $scss.Permalink }}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap"
  rel="stylesheet"
/>

<title>{{ .Site.Title }}</title>
