<style>
  #intro {
    background-color: {{ .styles.bg_color }};
  }

  #heading {
    color: {{ .styles.heading.color }}
    font-size: clamp({{ .styles.heading.font_size.min }}px, {{ .styles.heading.font_size.view_width }}vw, {{ .styles.heading.font_size.max }}px);
  }

  #tagline {
    color: {{ .styles.tagline.color }}
  }
</style>

<section class="intro" id="intro">
  <div class="inner">
    <h1 id="heading">{{ .content.heading | markdownify }}</h1>
    <span id="tagline">{{ .content.tagline | markdownify }}</span>
  </div>
  <div class="image">
    <img src="{{ .content.image }}" alt="{{ .content.alt }}" />
  </div>
</section>
