<style>
  #intro {
    background-color: {{ .styles.bg_color }};
    {{if .styles.image.fit_to_img}}
      min-height: calc({{ .styles.image.width.view_width }}vw + {{ .styles.image.top }}px + 8px);
    {{end}}
  }

  #inner {
    max-width: {{ .styles.text_max_width }}%;
  }

  #heading {
    color: {{ .styles.heading.color }};
    font-size: clamp({{ .styles.heading.font_size.min }}px, {{ .styles.heading.font_size.view_width }}vw, {{ .styles.heading.font_size.max }}px);
  }

  #tagline {
    color: {{ .styles.tagline.color }};
    font-size: clamp({{ .styles.tagline.font_size.min }}px, {{ .styles.tagline.font_size.view_width }}vw, {{ .styles.tagline.font_size.max }}px);
  }
  #image {
    top: {{ .styles.image.top }}px;
    right: {{ .styles.image.right }}px;
    opacity: {{ .styles.image.opacity }}%;
  }

  #img {
    width: clamp({{ .styles.image.width.min }}px, {{ .styles.image.width.view_width }}vw, {{ .styles.image.width.max }}px);
    border-radius: {{ .styles.image.border_radius }}%;
  }
</style>

<section class="intro" id="intro">
  <div class="inner" id="inner">
    <h1 id="heading">{{ .content.heading | markdownify }}</h1>
    <span id="tagline">{{ .content.tagline | markdownify }}</span>
  </div>
  <div class="image" id="image">
    <img id="img" src="{{ .content.image }}" alt="{{ .content.alt }}" />
  </div>
</section>
