.intro {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;

  .image {
    position: absolute;
    display: flex;
    z-index: -1;
    
    img {
      height: auto;
      object-fit: cover;
    }
  }

  .inner {
    display: flex;
    flex-direction: column;
    padding: Min(2rem, 4vw) Min(4rem, 8vw);

    h1 {
      font-size: clamp(15px, 7vw, 80px);
      font-weight: bold;
      color: rgb(26, 137, 43);
    }

    span {
      font-size: clamp(10px, 3vw, 40px);
      color: rgb(59, 59, 61);
      font-weight: bold;
    }

    // :first-child {
    //   margin-top: 0;
    // }

    // :last-child {
    //   margin-bottom: 0;
    // }
  }
}
