.intro {
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);

  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: Min(2rem, 4vw) Min(4rem, 8vw);

    img {
      width: clamp(80px, 30vw, 300px);
      height: auto;
      max-height: 300px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .inner {
    display: flex;
    max-width: 1000px;
    flex-direction: column;
    padding: Min(2rem, 4vw) Min(4rem, 8vw);

    h1 {
      font-size: clamp(15px, 7vw, 80px);
      font-weight: bold;
      color: rgb(26, 137, 43);
    }

    span {
      font-size: clamp(10px, 3vw, 40px);
      color: rgb(59, 59, 61);
      font-weight: bold;
    }

    :first-child {
      margin-top: 0;
    }

    :last-child {
      margin-bottom: 0;
    }
  }
}
