.heading {
  color: rgb(26, 137, 43);
  font-size: 4rem;
  line-height: 1;
  margin: 0;
}
.tagline {
  color: rgb(59, 59, 61);
  font-size: 3.5rem;
  font-weight: bold;
}

.intro {
  display: grid;
  width: 80%;
  margin: 0 auto;
  justify-items: left;
  align-items: center;
  background-color: rgb(249, 249, 251);
}

.shears-img {
  width: 10rem;
  height: auto;
}
