<div
  class="c-color-block"
  style="background-color: rgb({{ .color.r }},{{ .color.g }},{{ .color.b }})"
>
  <div class="color-block-text">
    <p class="__text">{{ .text }}</p>
    {{ range .list }}
    <p class="__subtext">{{ .item }}</p>
    {{ end }}
  </div>
  <div class="custom-shape-divider-bottom-1665021783">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>
